.clothing-detail {
    @include view-base;
    @include flex-center;

    display: flex;

    height: 112.4rem;
}

.clothing-detail__main {
    display: flex;
}

.clothing-detail__product {
    width: 89.6rem;

    border: 1px solid var(--border-color);
    border-width: 0 1px 0 1px;
}

.clothing-detail__sections {
    width: 17.6rem;

    color: var(--color-white);
}

.clothing-detail__section {
    @include flex-center-align;

    height: calc(100% / 5);
    border-bottom: 1px solid var(--border-color);
}

.clothing-detail__details {
    width: 36.8rem;

    background-color: var(--color-white);
}
