.header__main {
    @include flex-align;
    justify-content: space-between;

    height: 8.3rem;

    padding: 0 4.8rem;
    color: var(--color-white);
    background-color: var(--color-grey);
    box-shadow: 0px 2px 1rem rgba(0, 0, 0, 0.1);
}

.header__title {
    @include flex-align;

    font-size: 1.4rem;
    letter-spacing: 2px;

    i {
        margin-right: 1.5rem;
    }

    p {
        font-weight: 600;
    }

    span {
        font-weight: 400;
    }
}
